<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.NUnit"/>
	</extensions>
	
	<variable name="logsDir" value="C:\tradingbot\logs"/>
	
	<variable name="CallsiteLayout" value="${longdate}|${level:uppercase=true}|${callsite:includeNamespace=False}|${message:withException=true} ${exception:format=StackTrace}"/>
	<variable name="SimpleLayout" value="${longdate}|${level:uppercase=true}|${message}"/>
	
    <targets>

		<target name="global" xsi:type="File" fileName="${logsDir}\${shortdate}\global.log" layout="${CallsiteLayout}"/>
		
		<target name="filelog" xsi:type="File" fileName="${logsDir}\${shortdate}\${logger}.log" layout="${CallsiteLayout}"/>
		<target name="consoleDebug" xsi:type="Console" layout="${CallsiteLayout}"/>
		<target name="consoleInfo" xsi:type="Console" layout="${SimpleLayout}"/>	
		<target name="nunitlogs" xsi:type="NunitLogger" layout="${CallsiteLayout}"/>
		<target name="Debugger" xsi:type="DebugSystem" layout="${CallsiteLayout}" />
		
    </targets>

    <rules>

		<logger name="NUnitLogger" minlevel="Trace" writeTo="nunitlogs" />
		<logger name="*" minlevel="Debug" writeTo="filelog" />
		<logger name="*" minlevel="Debug" writeTo="Debugger" />
		<logger name="*" minlevel="Debug" writeTo="global" />
		
		<logger name="*Trace" minlevel="Trace" writeTo="consoleDebug" final="true"/>
		<logger name="*Debug" minlevel="Debug" writeTo="consoleDebug" final="true"/>
		<logger name="*" minlevel="Info" writeTo="consoleInfo"/>
		
	</rules>
</nlog>