<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.TradingBot"/>
	</extensions>
	
	<variable name="baseDir" value="C:\tradingbot\logs"/>
	<variable name="baseDirWithDate" value="${baseDir}\${shortdate}"/>
	<variable name="DebugLayout" value="${longdate}|${level:uppercase=true}|${callsite}|${message:withException=true} ${exception:format=StackTrace}"/>
	<variable name="InfoLayout" value="${longdate}|${level:uppercase=true}|${message}"/>
    <targets>
        <target name="global" xsi:type="File" fileName="${baseDir}\global.log" layout="${DebugLayout}"/>

		<target name="filelog" xsi:type="File" fileName="${baseDirWithDate}\${event-properties:now:whenEmpty=${time}}-${logger}.log" layout="${DebugLayout}"/>

		<target name="reports" xsi:type="File" fileName="${baseDirWithDate}\${event-properties:now}-${logger}.csv">
			<layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
				<column name="time" layout="${event-properties:time}"/>
				<column name="strat" layout="${event-properties:strat}"/>
				<column name="action" layout="${event-properties:action}"/>
				<column name="qty" layout="${event-properties:qty}"/>
				<column name="price" layout="${event-properties:price}"/>
				<column name="total" layout="${event-properties:total}"/>
				<column name="commission" layout="${event-properties:commission}"/>
				<column name="realized" layout="${event-properties:realized}"/>
			</layout>
		</target>
		
        <target name="logconsole" xsi:type="Console" layout="${DebugLayout}"/>
		<target name="nunitlogs" xsi:type="NunitLogger" layout="${DebugLayout}"/>
		<target name="internal" xsi:type="File" fileName="${baseDir}\nlog-internal.log" />
    </targets>

    <rules>
		<!--<logger name="*Report" minlevel="Info" writeTo="reports" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="global" />
        <logger name="*" minlevel="Debug" writeTo="trader-log" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<logger name="HistoricalDataGetterApp" minlevel="Info" writeTo="logconsole" final="true"/>
		<logger name="NUnitLogger" minlevel="Trace" writeTo="nunitlogs" />
		<logger name="ConsoleLogger" minlevel="Debug" writeTo="logconsole" />
		<logger name="TraderLogger" minlevel="Debug" writeTo="logconsole" />
		<logger name="TraderLoggerDebug" minlevel="Debug" writeTo="logconsole" />
		<logger name="TraderLogger*" minlevel="Debug" writeTo="filelog" />
	</rules>
</nlog>