<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target name="global" xsi:type="File" fileName="global.log" layout="`${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message} ${exception:format=Message,StackTrace}`"/>
        <target name="reports" xsi:type="File" fileName="reports.log" />
        <target name="logconsole" xsi:type="Console" />
        <target name="internal" xsi:type="File" fileName="nlog-internal.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="global" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>