<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<variable name="baseDir" value="D:\logs"/>
	<variable name="baseDirWithDate" value="${baseDir}\${shortdate}"/>
    <targets>
        <target name="global" xsi:type="File" fileName="${baseDir}\global.log" 
				layout="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message} ${exception:format=StackTrace}"/>

		<target name="trader-log" xsi:type="File" fileName="${baseDirWithDate}\${event-properties:start}-${logger}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message} ${exception:format=StackTrace}"/>

		<target name="reports" xsi:type="File" fileName="${baseDirWithDate}\${event-properties:start}-${logger}.csv">
			<layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
				<column name="action" layout="${event-properties:action}"/>
				<column name="qty" layout="${event-properties:qty}"/>
				<column name="price" layout="${event-properties:price}"/>
				<column name="total" layout="${event-properties:total}"/>
				<column name="commission" layout="${event-properties:commission}"/>
				<column name="time" layout="${event-properties:time}"/>
			</layout>
		</target>
		
        <target name="logconsole" xsi:type="Console" 
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=StackTrace}"/>
        <target name="internal" xsi:type="File" fileName="${baseDir}\nlog-internal.log" />
    </targets>

    <rules>
		<logger name="Report-*" minlevel="Info" writeTo="reports" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="global" />
        <logger name="Trader-*" minlevel="Debug" writeTo="trader-log" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
		<!--<logger name="Backtester" minlevel="Info" writeTo="reports" />-->
    </rules>
</nlog>